* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3B060A;
    color: #FFF287;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2{
    text-align: center;
    margin: 20px;
}

.recetas li{
    list-style-type: none;
    font-size: 25px;

}
ul, ol{
    background-color: #C83F12;
    width: 30%;
    margin: 30px auto;
    padding: 60px;
    font-size: 20px;
    border: solid 4px #8A0000;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #3B060A;
    font-size: 28px;
}
.inicio{
    margin:0 30px;
    font-size: 20px;
    font-weight: bolder;
}
.imagen{
    border: #C83F12 solid 4px;
    width: 600px;
    margin: 50px auto;
    overflow: hidden;;
}